@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: rgb(161, 161, 161);
}

html::-webkit-scrollbar-thumb {
    background: #29d9d5;
    border-radius: 5rem;
}

body {
    background: rgb(253, 253, 253);
    overflow-x: hidden;
}

section {
    padding: 3rem 9%;
    justify-content: center;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
}

.heading span {
    color: #29d9d5;
    border-radius: 6rem;
    font-size: 6rem;
    font-family: 'Playfair Display SC', serif;
}

.heading h1 {
    font-size: 3rem;
    color: rgb(71, 71, 71);
    font-family: 'Playfair Display', serif;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border: 0.2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: #29d9d5;
    color: #111;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

.header .navbar a {
    font-size: 1.7rem;
    color: #aaa;
    display: inline-block;
    margin: 0 1rem;
    padding-right: 2rem;
}

.header .navbar a:hover {
    color: #29d9d5;
}

.header .btn {
    margin-top: 0;
}

.logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

.logo i {
    color: #29d9d5;
    padding-right: .5rem;
}

#menu-btn {
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.home {
    margin: 0 auto;
    margin-top: 6.3rem;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../images/main\ wcu.jpg) no-repeat;
    background: linear-gradient(rgba(136, 136, 136, 0.7), rgba(182, 182, 182, 0.7)), url(../images/main\ wcu.jpg) no-repeat;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
    box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 80vh;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.home .content {
    text-align: center;
}

.home .content span {
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 0.1rem #fff;
    font-size: 3vw;
    display: block;
    text-transform: uppercase;
}

.home .content h3 {
    font-size: 3vw;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.home .content p {
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: rgb(14, 13, 13);
    line-height: 2;
}

.about {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;
    justify-content: center;
}

.about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    margin-bottom: 5rem;
}

.about .content span {
    color: #29d9d5;
    font-size: 6rem;
    font-family: 'Playfair Display SC', serif;
    padding-left: 45rem;
}

.about .content h3 {
    color: rgb(70, 70, 70);
    font-size: 3rem;
    margin-top: .5rem;
    font-family: 'Playfair Display', serif;
    justify-content: center;
    padding-left: 47rem;
}

.about .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
    line-height: 2;
}

.services .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
    backdrop-filter: blur(10px);
}

.services .box-container .box {
    background: rgb(44, 44, 44);
    border-radius: 3rem 0 3rem 0;
    padding: 3rem;
    text-align: center;
    border: 0.2rem solid #111;
    box-shadow: 5px 7px #a7a7a7;
}

.services .box-container .box:hover {
    border: 0.2rem solid #29d9d5;
}

.services .box-container .box i {
    font-size: 4rem;
    color: #29d9d5;
    margin-bottom: 2rem;
}

.services .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
}

.services .box-container .box p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
    line-height: 2;
}

.agents .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.agents .box-container .box {
    background: #fff;
    text-align: center;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 2rem;
    position: relative;
    width: 26rem;
}

.agents .box-container .box .fa-envelope {
    position: absolute;
    top: 1.8rem;
    left: 2rem;
    color: #333;
    font-size: 2rem;
}

.agents .box-container .box .fa-envelope:hover {
    color: var(--red);
}

.agents .box-container .box .fa-phone {
    position: absolute;
    top: 1.8rem;
    right: 2rem;
    color: #333;
    font-size: 2rem;
}

.agents .box-container .box .fa-phone:hover {
    color: var(--red);
}

.agents .box-container .box img {
    border-radius: 50%;
    box-shadow: 0 0 0 .5rem rgba(0, 0, 0, .1);
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    margin: 1rem 0;
}

.agents .box-container .box h3 {
    font-size: 2rem;
    color: #333;
}

.agents .box-container .box h4 {
    font-size: 1.6rem;
    color: #29d9d5;
}

.agents .box-container .box p {
    font-size: 1.3rem;
    color: var(--red);
    text-align: center;
}

.agents .box-container .box .share {
    padding-top: 2rem;
}

.agents .box-container .box .share a {
    margin: 0 .3rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    background: #f7f7f7;
    color: #666;
    border-radius: .5rem;
    font-size: 2rem;
}

.agents .box-container .box .share a:hover {
    background: var(--red);
    color: #fff;
}

.review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.review .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.review .content span {
    color: #29d9d5;
    font-size: 6rem;
    font-family: 'Playfair Display SC', serif;
}

.review .content h3 {
    font-size: 3rem;
    color: rgb(65, 64, 64);
    font-family: 'Playfair Display', serif;
}

.review .content p {
    font-size: 1.4rem;
    color: #aaa;
    padding: 1rem 0;
    line-height: 2;
}

.review .box-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
    flex: 1 1 20rem;
    border-radius: 1rem;
    padding: 2rem;
    background: #222;
    border: 0.2rem solid #111;
}

.review .box-container .box:hover {
    border: 0.2rem solid #29d9d5;
}

.review .box-container .box p {
    font-size: 1.4rem;
    padding-bottom: 1rem;
    line-height: 2;
    color: #aaa;
}

.review .box-container .box .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

.review .box-container .box .user img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.review .box-container .box .user h3 {
    font-size: 1.7rem;
    color: #fff;
}

.review .box-container .box .user span {
    color: #aaa;
    font-size: 1.5rem;
}

.banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../images/banner\ 1.jpg) no-repeat;
    background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../images/banner\ 1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 2rem;
    background-attachment: fixed;
    text-align: center;
}

.banner .content span {
    font-size: 2rem;
    color: #29d9d5;
}

.banner .content h3 {
    font-size: 4rem;
    color: #fff;
    margin-top: 1rem;
}

.banner .content p {
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: #aaa;
    line-height: 2;
}

.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box {
    padding: 1rem 0;
}

.footer .box-container .box .logo {
    padding-bottom: 1rem;
    color: #111;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: rgb(5, 5, 5);
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.4rem;
    color: #aaa;
    padding: 1rem 0;
    line-height: 2;
}

.footer .box-container .box p i {
    padding-right: .5rem;
    color: #29d9d5;
}

.footer .box-container .box .share {
    padding-top: 1rem;
}

.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    font-size: 1.7rem;
    border: 0.2rem solid #29d9d5;
    color: #29d9d5;
    margin-right: .5rem;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: #29d9d5;
    color: #111;
}

.footer .box-container .box .links {
    font-size: 1.4rem;
    color: #aaa;
    padding: 1rem 0;
    display: block;
}

.footer .box-container .box .links:hover {
    color: #29d9d5;
}

.footer .box-container .box .links:hover i {
    padding-right: 2rem;
}

.footer .box-container .box .links i {
    padding-right: .5rem;
    color: #29d9d5;
}

.footer .box-container .box form .email {
    width: 100%;
    border-radius: 5rem;
    border: 0.2rem solid #29d9d5;
    background: none;
    font-size: 1.5rem;
    text-transform: none;
    color: #aaa;
    margin-bottom: 1rem;
    padding: 1.2rem 1.4rem;
}

.credit {
    background: #222;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    color: #aaa;
}

.credit span {
    color: #29d9d5;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 3rem 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #222;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a {
        margin: 2rem;
        font-size: 2rem;
        display: block;
    }
    .home {
        margin-top: 10rem;
    }
    .home .content span {
        font-size: 8vw;
    }
    .home .content h3 {
        font-size: 9vw;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .about .content h3 {
        font-size: 3.5rem;
    }
    .banner .content h3 {
        font-size: 2.7rem;
    }
}


/*# sourceMappingURL=style.css.map */